*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: orangered;
    /* object-fit: cover;
    background-repeat: no-repeat; */
    /* background-repeat: cover; */
}

.img-container {
    width: 70%;
    height: 70vh;
    background: url("img/1.jpg") center/cover fixed no-repeat;
    border: 0.5rem solid orange;
    border-radius: 0.5rem;
    position: relative;
    margin: 4rem auto;
    box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.6);
    
    /* object-fit: cover; 
    background-repeat: no-repeat; */

}

.btn-left{
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #3B117E;
    color: #fff;
    transform: translate(-50%, -50%);
    border: 0.2rem solid #3CBFF8;
    font-size: 1.5rem;
    padding: 15px;
    cursor: pointer;
}

.btn-right{
    position: absolute;
    top: 50%;
    right: 0;
    background-color: #3B117E;
    color: #fff;
    transform: translate(50%, -50%);
    border: 0.2rem solid #3CBFF8;
    font-size: 1.5rem;
    padding: 15px;
    cursor: pointer;
}